<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="work.zhili.password.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="work.zhili.password.bean.User">
        <id column="id" jdbcType="CHAR" property="id" />
        <result column="name" jdbcType="CHAR" property="name" />
        <result column="password" jdbcType="CHAR" property="password" />
    </resultMap>

    <sql id="BaseColumnList">
        id, name, password
    </sql>

    <select id="queryAllUsers" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseColumnList" />
        FROM user
    </select>

</mapper>